body {
    min-height: 520px;
}
#stats {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.search, .table {
    flex: 1;
}

/* .search, .table, .pagination-wrapper {
    flex-shrink: 0;
} */

.list {
    font-family: sans-serif;
}
tbody {
    counter-reset: rowNumber;
}
tbody tr {
    counter-increment: rowNumber;
}
tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    color: #777;
}
.st_table_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
td {
    padding: 7px;
    border: solid 1px #eee;
    min-width: 100px;
}

thead td {
    padding: 0;
}

input {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
}
input:focus {
    outline: none;
    border-color: #aaa;
}
.sort {
    width: 100%;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    height: 100%;
}
.sort:hover {
    text-decoration: none;
    background-color: transparent;
}
.sort:focus {
    outline: none;
}
.sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
}

.reloads {
    text-align: center;
}

.ellipse {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

/* PAGINATION */

a {
    text-decoration: none;
}

p, li, a {
    font-size: 14px;
}

.pagination-wrapper {
    padding: 30px 0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

li.active {
    font-weight: bold;
    border-bottom: 3px solid #2ecc71;
}
