$main-color: #025f53;
$text-color: #ffffff;
$light-color: #47c425;
$transition: all 0.3s ease-out;
$border-radius:	5px;
$box-shadow: 0 8px 15px -10px rgba(0, 0, 0, 0.3);

.navigation {
  margin: 0 0 15px 0;
  padding: 0 3em;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
  background: $main-color;
  box-shadow: $box-shadow;
}

.navigation__item {
  display: inline-flex;
  text-decoration: none;
  padding: 0.8em 1em 0.4em;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color: $text-color;
  &:hover {
    color: $light-color;
    // background: $main-color;
    border-color: $light-color;
  }
}