$main-color: #025f53;
$text-color: #ffffff;
$light-color: #47c425;
$transition: all 0.3s ease-out;
$border-radius:	5px;

.app-header {
  padding: 0 3em;
  background: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
}

.navigation__item {
  display: inline-flex;
  text-decoration: none;
  padding: 0.8em 1em 0.4em;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color: $text-color;
  &:hover {
    color: $light-color;
    // background: $main-color;
    border-color: $light-color;
  }
}

.right-items__link {
  cursor: pointer;
  color: $text-color;
  &:hover {
    color: $light-color;
  }
}